<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="PangyaDebugLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="PangyaDebugLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        
        <PangyaDebugLauncher.Properties.Settings>
            <setting name="installationPath" serializeAs="String">
                <value />
            </setting>
            <setting name="backgroundMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsRegInstalled" serializeAs="String">
                <value>False</value>
            </setting>
        </PangyaDebugLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PangyaDebugLauncher.Properties.Settings>
            <setting name="pangyaFileID" serializeAs="String">
                <value>1RzcIlJvKdkX4r6pYNRnAjFmWNi4uKAq1</value>
            </setting>
            <setting name="patchFileID" serializeAs="String">
                <value>1LtnW0qyDtNZVme-xIZ804M31pGBj-NXi</value>
            </setting>
            <setting name="RegisteryFileID" serializeAs="String">
                <value>1m_KhPKGzNFOMfZL7PZOHlvUpMubRjZOj</value>
            </setting>
            <setting name="BaseURL" serializeAs="String">
                <value>https://drive.google.com/uc?id=&lt;&lt;&lt;&lt;FILEIDHERE&gt;&gt;&gt;&gt;&amp;export=download</value>
            </setting>
            <setting name="DownloadBase" serializeAs="String">
                <value>https://drive.google.com/u/0</value>
            </setting>
            <setting name="PatchFileAltLink" serializeAs="String">
                <value>https://www.dropbox.com/s/c96imodurpkmrme/debug-patch.zip?dl=1</value>
            </setting>
            <setting name="clientFileAltLink" serializeAs="String">
                <value>https://www.dropbox.com/s/88f8jaacpatj034/PangyaUS_851.rar?dl=1</value>
            </setting>
            <setting name="reg32Path" serializeAs="String">
                <value>\\For Win-32 BIT\\regproject.reg</value>
            </setting>
            <setting name="reg64Path" serializeAs="String">
                <value>\\For Win-64 BIT\\regproject.reg</value>
            </setting>
            <setting name="AppFolderName" serializeAs="String">
                <value>\\PangyaUS_851</value>
            </setting>
        </PangyaDebugLauncher.Properties.Settings>
    </applicationSettings>
</configuration>